- provide(:title, "#{@registered_application.name}")


%h4
  = @registered_application.name
%p
  = @registered_application.url
%ul
  - @events.each do |k, v|
    %li
      #{k} : #{v.count}

    - if policy(@registered_application).edit? 
      %p
        = link_to "Edit", edit_registered_application_path
        = link_to "Delete", @registered_application, method: :delete, data: { confirm: 'Remove this application for sure?' }
